* {
  margin: 0;
  padding: 0;
  color: #333333;
  font-family: "Yu Gothic", YuGothic, sans-serif;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  text-decoration: none;
}

.container_1 {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
}

.container_2 {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

@media only screen and (max-width: 1200px) {
  .container_2 {
    padding: 0 15px;
  }
}

.w-100 {
  width: 100%;
  position: relative;
}

header .container_1 .header_flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

header .container_1 .header_flex .row_1 {
  width: 69%;
}

@media only screen and (max-width: 1400px) {
  header .container_1 .header_flex .row_1 {
    width: 60%;
  }
}

@media only screen and (max-width: 1050px) {
  header .container_1 .header_flex .row_1 {
    width: 55%;
  }
}

@media only screen and (max-width: 900px) {
  header .container_1 .header_flex .row_1 {
    width: 80%;
  }
}

header .container_1 .header_flex .row_1 p {
  font-family: 'hirakakupro_w6';
  font-size: 24px;
  padding: 0 0 0 40px;
}

@media only screen and (max-width: 1050px) {
  header .container_1 .header_flex .row_1 p {
    padding: 0 0 0 10px;
    font-size: 20px;
  }
}

@media only screen and (max-width: 500px) {
  header .container_1 .header_flex .row_1 p {
    padding: 0 0 0 10px;
    font-size: 4vw;
  }
}

header .container_1 .header_flex .row_2 {
  width: 31%;
}

@media only screen and (max-width: 1400px) {
  header .container_1 .header_flex .row_2 {
    width: 40%;
  }
}

@media only screen and (max-width: 1050px) {
  header .container_1 .header_flex .row_2 {
    width: 45%;
  }
}

@media only screen and (max-width: 900px) {
  header .container_1 .header_flex .row_2 {
    width: 0;
    display: none;
  }
}

header .container_1 .header_flex .row_2 .head_contct_flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

header .container_1 .header_flex .row_2 .head_contct_flex .row {
  width: 50%;
}

header .container_1 .header_flex .row_2 .head_contct_flex .row:first-child a {
  width: 100%;
  display: block;
  text-decoration: none;
  text-align: center;
  background: #e8ba00;
  height: 70px;
  line-height: 70px;
  align-items: center;
  color: #FFFFFF;
  font-family: 'hirakakupro_w6';
  font-size: 16px;
}

header .container_1 .header_flex .row_2 .head_contct_flex .row:last-child a {
  width: 100%;
  display: block;
  text-decoration: none;
  text-align: center;
  background-color: #cc0033;
  height: 70px;
  line-height: 70px;
  color: #FFFFFF;
  font-family: 'hirakakupro_w6';
  font-size: 16px;
}

header .container_1 .header_flex .row_2 .head_contct_flex .row:last-child a i {
  color: #FFFFFF;
}

header .container_1 .header_flex .row_3 {
  width: 100%;
}

@media only screen and (max-width: 900px) {
  header .container_1 .header_flex .row_3 {
    width: 20%;
    text-align: right;
    padding: 0 20px 0 0;
  }
}

header .container_1 .header_flex .row_3 .nav_menu_sp {
  display: none;
  font-size: 20px;
  width: 40px;
  background-color: transparent;
  border: 2px solid #333333;
  border-radius: 5px;
}

header .container_1 .header_flex .row_3 .nav_menu_sp:hover {
  background-color: #cc0033;
  border: 2px solid #cc0033;
}

header .container_1 .header_flex .row_3 .nav_menu_sp:hover i {
  color: #FFFFFF;
}

header .container_1 .header_flex .row_3 .nav_menu_sp i {
  color: #333333;
}

@media only screen and (max-width: 900px) {
  header .container_1 .header_flex .row_3 .nav_menu_sp {
    display: inline-block;
  }
}

header .container_1 .header_flex .row_3 .navbar {
  padding: 0 60px 0 60px;
}

header .container_1 .header_flex .row_3 .navbar .navbar_nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

@media only screen and (max-width: 900px) {
  header .container_1 .header_flex .row_3 .navbar .navbar_nav {
    display: none;
    position: absolute;
    z-index: 500;
    left: 0;
    top: 70px;
    background-color: #cc0033;
    width: 100%;
    text-align: left;
  }
}

header .container_1 .header_flex .row_3 .navbar .navbar_nav__openmenu {
  display: block;
}

header .container_1 .header_flex .row_3 .navbar .navbar_nav .nav_item {
  position: relative;
}

header .container_1 .header_flex .row_3 .navbar .navbar_nav .nav_item:hover .navbar_item_drop_down {
  display: block;
}

header .container_1 .header_flex .row_3 .navbar .navbar_nav .nav_item:hover .nav_link {
  color: #cc0033;
  background-color: #FFFFFF;
}

header .container_1 .header_flex .row_3 .navbar .navbar_nav .nav_item:nth-child(9) .navbar_item_drop_down {
  left: 2px;
}

@media only screen and (max-width: 900px) {
  header .container_1 .header_flex .row_3 .navbar .navbar_nav .nav_item:nth-child(9) .navbar_item_drop_down {
    left: 0;
  }
}

@media only screen and (max-width: 1200px) {
  header .container_1 .header_flex .row_3 .navbar .navbar_nav .nav_item:nth-child(n+5) {
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  header .container_1 .header_flex .row_3 .navbar .navbar_nav .nav_item:nth-child(n+5) {
    display: block;
  }
}

header .container_1 .header_flex .row_3 .navbar .navbar_nav .nav_item .nav_link {
  display: block;
  text-decoration: none;
  font-family: 'hirakakupro_w3';
  font-size: 14px;
  height: 60px;
  line-height: 60px;
}

@media only screen and (max-width: 900px) {
  header .container_1 .header_flex .row_3 .navbar .navbar_nav .nav_item .nav_link {
    padding: 0;
    height: auto;
    line-height: 100%;
    padding: 15px 0 15px 15px;
    color: #FFFFFF;
  }
  header .container_1 .header_flex .row_3 .navbar .navbar_nav .nav_item .nav_link:hover {
    background: #FFFFFF;
  }
}

header .container_1 .header_flex .row_3 .navbar .navbar_nav .nav_item .navbar_item_drop_down {
  display: none;
  background-color: #cc0033;
  list-style: none;
  min-width: 120px;
  position: absolute;
  z-index: 200;
  left: -35px;
  margin-top: -10px;
  padding: 10px 0;
}

@media only screen and (max-width: 900px) {
  header .container_1 .header_flex .row_3 .navbar .navbar_nav .nav_item .navbar_item_drop_down {
    position: relative;
    z-index: 0;
    width: 100%;
    left: 0;
    margin-top: 0;
    padding: 0;
  }
}

header .container_1 .header_flex .row_3 .navbar .navbar_nav .nav_item .navbar_item_drop_down .navbar_drop_down_item {
  text-align: center;
}

@media only screen and (max-width: 900px) {
  header .container_1 .header_flex .row_3 .navbar .navbar_nav .nav_item .navbar_item_drop_down .navbar_drop_down_item {
    text-align: left;
  }
}

header .container_1 .header_flex .row_3 .navbar .navbar_nav .nav_item .navbar_item_drop_down .navbar_drop_down_item .navbar_drop_down_link {
  display: block;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 14px;
  font-family: 'hirakakupro_w3';
  padding: 6px 0;
}

@media only screen and (max-width: 900px) {
  header .container_1 .header_flex .row_3 .navbar .navbar_nav .nav_item .navbar_item_drop_down .navbar_drop_down_item .navbar_drop_down_link {
    padding: 6px 0 6px 40px;
  }
}

header .container_1 .header_flex .row_3 .navbar .navbar_nav .nav_item .navbar_item_drop_down .navbar_drop_down_item .navbar_drop_down_link:hover {
  background-color: #FFFFFF;
  transition: all 450ms;
  color: #333333;
}

header .container_1 .header_flex .row_3 .navbar .navbar_nav .drop_d {
  display: none;
  position: relative;
}

@media only screen and (max-width: 1200px) {
  header .container_1 .header_flex .row_3 .navbar .navbar_nav .drop_d {
    display: block;
  }
}

header .container_1 .header_flex .row_3 .navbar .navbar_nav .drop_d .drop_d_btn {
  background-color: transparent;
  border: 0;
  outline: transparent;
  font-size: 18px;
  cursor: pointer;
}

@media only screen and (max-width: 900px) {
  header .container_1 .header_flex .row_3 .navbar .navbar_nav .drop_d .drop_d_btn {
    display: none;
  }
}

header .container_1 .header_flex .row_3 .navbar .navbar_nav .drop_d .d_n_tabpc {
  display: none;
  position: absolute;
  min-width: 200px;
  right: 0;
  margin-top: 10px;
  background-color: #cc0033;
}

header .container_1 .header_flex .row_3 .navbar .navbar_nav .drop_d .d_n_tabpc__open_drp {
  display: block;
}

header .container_1 .header_flex .row_3 .navbar .navbar_nav .drop_d .d_n_tabpc .navbar_nav {
  flex-direction: column;
  padding: 10px 0;
}

header .container_1 .header_flex .row_3 .navbar .navbar_nav .drop_d .d_n_tabpc .navbar_nav .nav_item {
  position: relative;
  width: 100%;
  text-align: center;
}

header .container_1 .header_flex .row_3 .navbar .navbar_nav .drop_d .d_n_tabpc .navbar_nav .nav_item .nav_link {
  display: block;
  width: 100%;
  height: auto;
  line-height: 100%;
  padding: 15px 0;
  color: #FFFFFF;
}

header .container_1 .header_flex .row_3 .navbar .navbar_nav .drop_d .d_n_tabpc .navbar_nav .nav_item .nav_link:hover {
  background-color: #FFFFFF;
  color: #333333;
}

@media only screen and (max-width: 1200px) {
  header .container_1 .header_flex .row_3 .navbar .navbar_nav .drop_d .d_n_tabpc .navbar_nav .nav_item:nth-child(n+5) {
    display: block;
  }
}

header .container_1 .header_flex .row_3 .navbar .navbar_nav .drop_d .d_n_tabpc .navbar_nav .nav_item .navbar_item_drop_down {
  left: -120px;
  top: 10px;
}

footer .w_100 .container_2 .navbar {
  margin: 60px 0 0 0;
}

footer .w_100 .container_2 .navbar .navbar_nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  list-style: none;
}

footer .w_100 .container_2 .navbar .navbar_nav .nav_item .nav_link {
  text-decoration: none;
  font-family: 'hirakakupro_w3';
  font-size: 14px;
}

@media only screen and (max-width: 1000px) {
  footer .w_100 .container_2 .navbar .navbar_nav .nav_item {
    flex-basis: 25%;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 768px) {
  footer .w_100 .container_2 .navbar .navbar_nav .nav_item {
    flex-basis: 33%;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 600px) {
  footer .w_100 .container_2 .navbar .navbar_nav .nav_item {
    flex-basis: 50%;
    margin-bottom: 10px;
  }
}

footer .w_100 .container_2 .navbar .navbar_nav .nav_item:nth-child(3) .navbar_drop_down_link {
  color: #777777;
}

footer .w_100 .container_2 .navbar .navbar_nav .nav_item:nth-child(8) .navbar_drop_down_link {
  color: #777777;
}

footer .w_100 .container_2 .navbar .navbar_nav .nav_item .navbar_item_drop_down {
  list-style: none;
}

footer .w_100 .container_2 .navbar .navbar_nav .nav_item .navbar_item_drop_down .navbar_drop_down_item .navbar_drop_down_link {
  text-decoration: none;
  font-family: 'hirakakupro_w3';
  font-size: 14px;
}

footer .w_100 .container_2 .w_100 .footer_head {
  margin-top: 50px;
  font-size: 20px;
  font-family: 'hirakakupro_w6';
  text-align: center;
}

@media only screen and (max-width: 420px) {
  footer .w_100 .container_2 .w_100 .footer_head {
    font-size: 16px;
  }
}

footer .w_100 .container_2 .w_100 .footer_details {
  margin-top: 30px;
  font-size: 14px;
  font-family: 'hirakakupro_w3';
  text-align: center;
  line-height: 24px;
}

footer .w_100 .container_2 .w_100 .footer_social {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin-top: 27px;
}

footer .w_100 .container_2 .w_100 .footer_social img {
  width: 50px;
  height: 50px;
  margin: 0 10px;
}

@media only screen and (max-width: 420px) {
  footer .w_100 .container_2 .w_100 .footer_social img {
    margin-bottom: 10px;
  }
}

footer .copyright_cont {
  background-color: #cc0033;
  padding: 15px 0;
  margin-top: 40px;
}

footer .copyright_cont .footer_copyright {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

footer .copyright_cont .footer_copyright span {
  color: #FFFFFF;
  font-family: 'Yu Gothic', sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.sect_btn_cont {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 100px;
}

.sect_btn_cont .sect_btn {
  display: block;
  position: relative;
  width: 300px;
  height: 50px;
  line-height: 50px;
  border: 1px solid #cc0033;
  text-decoration: none;
  font-family: 'hirakakupro_w6';
  font-size: 16px;
  color: #cc0033;
  text-align: center;
}

.sect_btn_cont .sect_btn i {
  font-size: 16px;
  color: #cc0033;
  position: absolute;
  right: 13px;
  top: 17px;
}

.sect_btn_cont .sect_btn:hover {
  background-color: #cc0033;
  color: #FFFFFF;
  transition: all 450ms;
}

.sect_btn_cont .sect_btn:hover i {
  background-color: #cc0033;
  color: #FFFFFF;
}

.sect_head {
  font-family: 'hirakakupro_w6';
  font-size: 36px;
  margin-bottom: 40px;
  text-align: center;
}

.i_sect_1 {
  background-color: #FFFFFF;
}

.i_sect_1 .w_100 .container_1 img {
  width: 100%;
  margin-bottom: 60px;
}

.i_sect_1 .sect_details {
  margin-bottom: 60px;
}

@media only screen and (max-width: 1200px) {
  .i_sect_1 .sect_details {
    padding: 0 15px;
  }
}

.i_sect_1 .sect_details .container_2 {
  border: 1px solid #cc0033;
  padding: 30px 40px;
}

@media only screen and (max-width: 1000px) {
  .i_sect_1 .sect_details .container_2 {
    padding: 30px 20px;
  }
}

.i_sect_1 .sect_details .container_2 p:first-child {
  font-family: 'hirakakupro_w6';
  font-size: 24px;
  margin-bottom: 15px;
}

.i_sect_1 .sect_details .container_2 p:last-child {
  font-family: 'hirakakupro_w3';
  font-size: 16px;
}

.i_sect_2 {
  background-color: #FFFFFF;
}

.i_sect_2 .w_100 .container_2 .sect_2_head {
  font-family: 'hirakakupro_w6';
  font-size: 36px;
  margin-bottom: 40px;
  text-align: center;
}

.i_sect_2 .w_100 .container_2 .sect_2_post_cont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.i_sect_2 .w_100 .container_2 .sect_2_post_cont .p_row {
  width: 50%;
  margin-bottom: 30px;
}

.i_sect_2 .w_100 .container_2 .sect_2_post_cont .p_row:nth-child(2n+2) {
  padding-left: 20px;
}

@media only screen and (max-width: 900px) {
  .i_sect_2 .w_100 .container_2 .sect_2_post_cont .p_row:nth-child(2n+2) {
    padding-left: 0;
  }
}

@media only screen and (max-width: 900px) {
  .i_sect_2 .w_100 .container_2 .sect_2_post_cont .p_row {
    width: 100%;
  }
}

.i_sect_2 .w_100 .container_2 .sect_2_post_cont .p_row .w_100 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.i_sect_2 .w_100 .container_2 .sect_2_post_cont .p_row .w_100 .row:first-child {
  width: 33%;
}

.i_sect_2 .w_100 .container_2 .sect_2_post_cont .p_row .w_100 .row:first-child img {
  width: 100%;
}

.i_sect_2 .w_100 .container_2 .sect_2_post_cont .p_row .w_100 .row:last-child {
  width: 67%;
  padding: 0 40px 0 20px;
}

@media only screen and (max-width: 768px) {
  .i_sect_2 .w_100 .container_2 .sect_2_post_cont .p_row .w_100 .row:last-child {
    padding: 0 0 0 10px;
  }
}

.i_sect_2 .w_100 .container_2 .sect_2_post_cont .p_row .w_100 .row:last-child p:first-child {
  font-family: 'hirakakupro_w3';
  font-size: 14px;
  margin-bottom: 17px;
  text-align: left;
  color: #191919;
}

@media only screen and (max-width: 768px) {
  .i_sect_2 .w_100 .container_2 .sect_2_post_cont .p_row .w_100 .row:last-child p:first-child {
    margin-bottom: 5px;
  }
}

@media only screen and (max-width: 500px) {
  .i_sect_2 .w_100 .container_2 .sect_2_post_cont .p_row .w_100 .row:last-child p:first-child {
    font-size: 12px;
  }
}

.i_sect_2 .w_100 .container_2 .sect_2_post_cont .p_row .w_100 .row:last-child p:last-child {
  font-family: 'hirakakupro_w3';
  font-size: 16px;
  text-align: left;
  color: #191919;
  line-height: 28px;
}

@media only screen and (max-width: 500px) {
  .i_sect_2 .w_100 .container_2 .sect_2_post_cont .p_row .w_100 .row:last-child p:last-child {
    font-size: 14px;
    line-height: 20px;
  }
}

.i_sect_2 .w_100 .container_2 .sect_2_seemore_cont {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 100px;
}

.i_sect_2 .w_100 .container_2 .sect_2_seemore_cont .sect_2_btn_seemore {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  height: 50px;
  border: 1px solid #cc0033;
  text-decoration: none;
  font-family: 'hirakakupro_w6';
  font-size: 16px;
  color: #cc0033;
  padding: 0 15px 0 110px;
}

.i_sect_2 .w_100 .container_2 .sect_2_seemore_cont .sect_2_btn_seemore i {
  font-size: 16px;
  color: #cc0033;
}

.i_sect_2 .w_100 .container_2 .sect_2_seemore_cont .sect_2_btn_seemore:hover {
  background-color: #cc0033;
  color: #FFFFFF;
  transition: all 450ms;
}

.i_sect_2 .w_100 .container_2 .sect_2_seemore_cont .sect_2_btn_seemore:hover i {
  background-color: #cc0033;
  color: #FFFFFF;
}

.i_sect_3 {
  background-color: #FFFFFF;
}

.i_sect_3 .w_100 .w_100 .sect_3_head {
  font-family: 'hirakakupro_w6';
  font-size: 36px;
  margin-bottom: 40px;
  text-align: center;
}

.i_sect_3 .w_100 .w_100 .owl-carousel.owl-drag .owl-item.active.center {
  transform: scale(1.15);
  opacity: 1;
  transition: all 450ms;
}

.i_sect_3 .w_100 .w_100 .owl-carousel.owl-drag .owl-item {
  transform: scale(0.8);
  opacity: .6;
  transition: all 450ms;
  /* height: 400px; */
}

.i_sect_3 .w_100 .w_100 .owl-nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 47%;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 999px) {
  .i_sect_3 .w_100 .w_100 .owl-nav {
    display: none;
  }
}

.i_sect_3 .w_100 .w_100 .owl-nav .owl-prev i {
  font-size: 30px;
}

.i_sect_3 .w_100 .w_100 .owl-nav .owl-next i {
  font-size: 30px;
}

.i_sect_3 .w_100 .w_100 .sect_btn_cont .sect_btn {
  height: 60px;
  line-height: 60px;
}

.i_sect_3 .w_100 .w_100 .sect_btn_cont .sect_btn i {
  top: 21px;
  right: 14px;
}

.i_sect_4 {
  background-color: #FFFFFF;
}

.i_sect_4 .w_100 .container_2 .sect_4_head {
  font-family: 'hirakakupro_w6';
  font-size: 36px;
  margin-bottom: 40px;
  text-align: center;
}

.i_sect_4 .w_100 .container_2 .sect_4_head br {
  display: none;
}

@media only screen and (max-width: 425px) {
  .i_sect_4 .w_100 .container_2 .sect_4_head br {
    display: block;
  }
}

.i_sect_4 .w_100 .container_2 .table_cont {
  width: 100%;
  position: relative;
}

@media only screen and (max-width: 900px) {
  .i_sect_4 .w_100 .container_2 .table_cont {
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    height: auto;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }
}

.i_sect_4 .w_100 .container_2 .table_cont .sect_4_tr_first_row {
  display: none;
  position: relative;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  table-layout: fixed;
  margin-bottom: 20px;
}

@media only screen and (max-width: 900px) {
  .i_sect_4 .w_100 .container_2 .table_cont .sect_4_tr_first_row {
    display: block;
    width: 300px;
  }
}

.i_sect_4 .w_100 .container_2 .table_cont .sect_4_tr_first_row li {
  list-style: none;
}

.i_sect_4 .w_100 .container_2 .table_cont .sect_4_tr_first_row li:first-child {
  border: 1px solid #cccccc;
  padding: 10px 15px;
  background-color: #e8ba00;
  color: #e8ba00;
  font-family: 'hirakakupro_w6';
  font-size: 16px;
}

.i_sect_4 .w_100 .container_2 .table_cont .sect_4_tr_first_row li:nth-child(n+2) {
  border-bottom: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  padding: 10px 15px;
  background-color: #FFFFFF;
  font-family: 'hirakakupro_w3';
  font-size: 16px;
}

.i_sect_4 .w_100 .container_2 .table_cont .inner_table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.i_sect_4 .w_100 .container_2 .table_cont .inner_table .price_table {
  position: relative;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  table-layout: fixed;
  margin-bottom: 20px;
}

.i_sect_4 .w_100 .container_2 .table_cont .inner_table .price_table tr {
  position: relative;
}

.i_sect_4 .w_100 .container_2 .table_cont .inner_table .price_table tr th {
  border: 1px solid #cccccc;
  padding: 10px 15px;
  background-color: #e8ba00;
  color: #FFFFFF;
  font-family: 'hirakakupro_w6';
  font-size: 16px;
}

@media only screen and (max-width: 900px) {
  .i_sect_4 .w_100 .container_2 .table_cont .inner_table .price_table tr th {
    width: 200px;
    border-left: none;
  }
  .i_sect_4 .w_100 .container_2 .table_cont .inner_table .price_table tr th:first-child {
    display: none;
  }
}

.i_sect_4 .w_100 .container_2 .table_cont .inner_table .price_table tr td {
  border: 1px solid #cccccc;
  padding: 10px 15px;
  background-color: #FFFFFF;
  font-family: 'hirakakupro_w3';
  font-size: 16px;
}

@media only screen and (max-width: 900px) {
  .i_sect_4 .w_100 .container_2 .table_cont .inner_table .price_table tr td {
    width: 200px;
    border-left: none;
  }
  .i_sect_4 .w_100 .container_2 .table_cont .inner_table .price_table tr td:first-child {
    display: none;
  }
}

.i_sect_4 .w_100 .container_2 .sect_4_bns_hr .sect_4_bns_hr_head {
  font-family: 'hirakakupro_w6';
  font-size: 16px;
  margin-bottom: 10px;
}

.i_sect_4 .w_100 .container_2 .sect_4_bns_hr .sect_4_cst_20 {
  width: 240px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.i_sect_4 .w_100 .container_2 .sect_4_bns_hr .sect_4_cst_20 span {
  font-family: 'hirakakupro_w3';
  font-size: 16px;
}

.i_sect_5 {
  background-color: #FFFFFF;
}

.i_sect_5 .w_100 .container_2 .sect_5_head {
  font-family: 'hirakakupro_w6';
  font-size: 36px;
  margin-bottom: 40px;
  text-align: center;
}

.i_sect_5 .w_100 .container_2 .sect_5_voice_cont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.i_sect_5 .w_100 .container_2 .sect_5_voice_cont .row {
  width: 48.83%;
  margin-bottom: 30px;
}

@media only screen and (max-width: 950px) {
  .i_sect_5 .w_100 .container_2 .sect_5_voice_cont .row {
    width: 100%;
  }
}

.i_sect_5 .w_100 .container_2 .sect_5_voice_cont .row .w_100 {
  position: relative;
}

.i_sect_5 .w_100 .container_2 .sect_5_voice_cont .row .w_100 .img_bg_cont {
  position: relative;
}

.i_sect_5 .w_100 .container_2 .sect_5_voice_cont .row .w_100 .img_bg_cont img {
  width: 100%;
  position: relative;
  z-index: 1;
}

.i_sect_5 .w_100 .container_2 .sect_5_voice_cont .row .w_100 .img_bg_cont .img_overlay {
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
}

.i_sect_5 .w_100 .container_2 .sect_5_voice_cont .row .w_100 .voice_text {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 47px;
}

@media only screen and (max-width: 1050px) {
  .i_sect_5 .w_100 .container_2 .sect_5_voice_cont .row .w_100 .voice_text {
    padding: 0 27px;
  }
}

@media only screen and (max-width: 768px) {
  .i_sect_5 .w_100 .container_2 .sect_5_voice_cont .row .w_100 .voice_text {
    padding: 0 27px;
  }
}

@media only screen and (max-width: 425px) {
  .i_sect_5 .w_100 .container_2 .sect_5_voice_cont .row .w_100 .voice_text {
    padding: 0 10px;
  }
}

@media only screen and (max-width: 375px) {
  .i_sect_5 .w_100 .container_2 .sect_5_voice_cont .row .w_100 .voice_text {
    padding: 0 5px 0 10px;
  }
}

.i_sect_5 .w_100 .container_2 .sect_5_voice_cont .row .w_100 .voice_text .voice_text_head {
  font-family: 'hirakakupro_w6';
  font-size: 24px;
  margin-bottom: 30px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .i_sect_5 .w_100 .container_2 .sect_5_voice_cont .row .w_100 .voice_text .voice_text_head {
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 425px) {
  .i_sect_5 .w_100 .container_2 .sect_5_voice_cont .row .w_100 .voice_text .voice_text_head {
    margin-bottom: 10px;
    font-size: 20px;
  }
}

@media only screen and (max-width: 375px) {
  .i_sect_5 .w_100 .container_2 .sect_5_voice_cont .row .w_100 .voice_text .voice_text_head {
    margin-bottom: 5px;
    font-size: 20px;
  }
}

.i_sect_5 .w_100 .container_2 .sect_5_voice_cont .row .w_100 .voice_text .voice_text_des {
  font-family: 'hirakakupro_w3';
  font-size: 16px;
  text-align: left;
  line-height: 27px;
}

@media only screen and (max-width: 425px) {
  .i_sect_5 .w_100 .container_2 .sect_5_voice_cont .row .w_100 .voice_text .voice_text_des {
    line-height: 23px;
    font-size: 14px;
  }
}

@media only screen and (max-width: 375px) {
  .i_sect_5 .w_100 .container_2 .sect_5_voice_cont .row .w_100 .voice_text .voice_text_des {
    line-height: 20px;
    font-size: 12px;
  }
}

.i_sect_5 .w_100 .container_2 .sect_btn_cont {
  margin-top: 10px;
}

.i_sect_6 {
  background-color: #FFFFFF;
}

.i_sect_6 .w_100 .container_2 {
  background-color: #f0f0f0;
  padding: 80px 120px;
}

@media only screen and (max-width: 1110px) {
  .i_sect_6 .w_100 .container_2 {
    padding: 80px 50px;
  }
}

@media only screen and (max-width: 970px) {
  .i_sect_6 .w_100 .container_2 {
    padding: 80px 50px;
  }
}

@media only screen and (max-width: 768px) {
  .i_sect_6 .w_100 .container_2 {
    padding: 80px 15px;
  }
}

.i_sect_6 .w_100 .container_2 .sect_6_head {
  font-family: 'hirakakupro_w6';
  font-size: 36px;
  margin-bottom: 40px;
  text-align: left;
}

.i_sect_6 .w_100 .container_2 .new_list_cont a {
  text-decoration: none;
}

.i_sect_6 .w_100 .container_2 .new_list_cont a .new_list_item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}

@media only screen and (max-width: 970px) {
  .i_sect_6 .w_100 .container_2 .new_list_cont a .new_list_item .row:last-child {
    width: 100%;
    margin-top: 10px;
  }
}

.i_sect_6 .w_100 .container_2 .new_list_cont a .new_list_item .row .new_item_category {
  font-family: 'hirakakupro_w3';
  font-size: 16px;
  background-color: #cc0033;
  color: #FFFFFF;
  padding: 5px 12px;
  margin-right: 10px;
}

.i_sect_6 .w_100 .container_2 .new_list_cont a .new_list_item .row .new_item_date {
  font-family: 'hirakakupro_w3';
  font-size: 16px;
  margin-right: 20px;
}

.i_sect_6 .w_100 .container_2 .new_list_cont a .new_list_item .row .new_item_title {
  font-family: 'hirakakupro_w3';
  font-size: 16px;
}

.i_sect_6 .w_100 .container_2 .sect_btn_cont {
  margin-bottom: 0;
  margin-top: 50px;
}

.contact_section .w_100 .contact_sect_cont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
}

.contact_section .w_100 .contact_sect_cont .row {
  width: 50%;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .contact_section .w_100 .contact_sect_cont .row {
    width: 100%;
  }
}

.contact_section .w_100 .contact_sect_cont .row .cont_inquiry {
  display: block;
  height: 140px;
  line-height: 140px;
  width: 100%;
  background-color: #e8ba00;
  font-family: 'hirakakupro_w6';
  font-size: 24px;
  color: #FFFFFF;
}

.contact_section .w_100 .contact_sect_cont .row .cont_download {
  display: block;
  height: 140px;
  line-height: 140px;
  width: 100%;
  background-color: #cc0033;
  font-family: 'hirakakupro_w6';
  font-size: 24px;
  color: #FFFFFF;
}

.jumbo_sect .w_100 .jumbo_cont {
  height: 250px;
  background-image: url(/assets/img/access/jumbo_img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 83%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

@media only screen and (max-width: 425px) {
  .jumbo_sect .w_100 .jumbo_cont {
    height: 150px;
    margin-bottom: 50px;
  }
}

.jumbo_sect .w_100 .jumbo_cont .jumbo_txt_head {
  color: #FFFFFF;
  font-family: 'hirakakupro_w6';
  font-size: 30px;
  text-shadow: 0px 5px 10px rgba(206, 89, 55, 0.2);
}

.a_sect_1 .w_100 .container_2 .w_100 .mapouter {
  position: relative;
  text-align: right;
  height: 300px;
  width: 100%;
}

.a_sect_1 .w_100 .container_2 .w_100 .mapouter .gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 300px;
  width: 100%;
}

.a_sect_1 .w_100 .container_2 .w_100 .access_details {
  margin-top: 30px;
  margin-bottom: 95px;
}

.a_sect_1 .w_100 .container_2 .w_100 .access_details .access_address {
  font-family: 'hirakakupro_w6';
  font-size: 18px;
}

.a_sect_1 .w_100 .container_2 .w_100 .access_details .access_address_sub {
  margin-top: 30px;
  margin-bottom: 40px;
  font-family: 'hirakakupro_w3';
  font-size: 16px;
  line-height: 27px;
}

.a_sect_1 .w_100 .container_2 .w_100 .access_details .access_subway_direction {
  font-family: 'hirakakupro_w6';
  font-size: 18px;
}

.a_sect_1 .w_100 .container_2 .w_100 .access_details .access_subway_direction_sub {
  margin-bottom: 40px;
  font-family: 'hirakakupro_w3';
  font-size: 16px;
  line-height: 27px;
}

.a_sect_1 .w_100 .container_2 .w_100 .access_details .access_nagoya_direction {
  font-family: 'hirakakupro_w6';
  font-size: 18px;
}

.a_sect_1 .w_100 .container_2 .w_100 .access_details .access_nagoya_direction_sub {
  margin-bottom: 40px;
  font-family: 'hirakakupro_w3';
  font-size: 16px;
  line-height: 27px;
}

.a_sect_2 .w_100 .container_2 .access_img_cont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.a_sect_2 .w_100 .container_2 .access_img_cont .row {
  width: 32.5%;
}

.a_sect_2 .w_100 .container_2 .access_img_cont .row img {
  width: 100%;
}

.a_sect_2 .w_100 .container_2 .access_park_cont {
  margin-top: 28px;
}

.a_sect_2 .w_100 .container_2 .access_park_cont p {
  font-family: 'hirakakupro_w3';
  font-size: 16px;
  line-height: 27px;
}
/*# sourceMappingURL=style.css.map */